body {
    background-color: #121212;
    color: #ffffff;
    font-family: jetbrains nerd font, monospace;
}

nav {
    background-color: #1e1e1e;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 25px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {

    color: orange;
    font-weight: 500;
}

header {

    color: orange;
    text-align: center;
    margin: 20px 0;
}

li {
    font-size: 24px;
}

section {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    font-size: 40px;
    font-weight: 500;
    color: orange;
}

.about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;



}

.textframe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }

    flex-direction: row;
    gap: 20px;
}


.frame {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #1e1e1e;
    margin-top: 20px;
}

.frame img {
    height: 400px;
    border-radius: 5px;

    text-align: center;
    margin-top: 10px;

}

.text {
    width: auto;
    min-width: 100px;
    margin-top: 20px;
}

.text p,
.skills-description {

    font-size: 24px;
    line-height: 1.5;
}

span {
    font-size: 36px;
    font-weight: 600;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centers wrapped lines */
    gap: 40px; /* space between icons */
    margin: 10px auto;

}

i {

    font-size: 36px;

}

.skills .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    transition: all 0.3s ease;
}

.skills .icon:hover {
    color: orange;

    transform: scale(1.1);
}

.skills .icon p {
    margin: 0;
    font-size: 24px;
}

.photoshop-icon {
    width: 44px;
    height: 44px;
    scale: 1.5;
}

.photoshop-icon .background {
    fill: #1e1e1e;

}

.photoshop-icon .text {

    fill: white;
    transition: fill 0.3s ease;
}

.icon:hover .photoshop-icon .text {
    fill: orange;
}